
@mixin title() {
    font-weight: 700;
    font-size: 24px;
  }
@mixin headline($type: 'd') {
    font-weight: 700;
    
    @if ($type == 'd') {
      font-size: 20px;
    }

    @if ($type == 'm') {
      font-size: 18px;
    }
  }

@mixin text-2($weight, $type: 'd') {

      @if ($type == 'd') {
      font-size: 16px;
    }

    @if ($type == 'm') {
      font-size: 14px
    }

    @if ($weight == 's') {
      font-weight: 700;
    }
     @if ($weight == 'm') {
      font-weight: 500;
    }
  }

@mixin text-1($weight, $type: 'd') {
    
    @if ($type == 'd') {
      font-size: 18px;
    }

    @if ($type == 'm') {
      font-size: 16px
    }
    
    @if ($weight == 's') {
      font-weight: 700;
    }
     @if ($weight == 'm') {
      font-weight: 500;
    }
  }

@mixin caption($type: 'd') {
    font-weight: 700;
    
    @if ($type == 'd') {
      font-size: 14px;
    }
     @if ($type == 'm') {
      font-size: 10px;
    }
  }

@mixin media-m() {
    @media screen and (max-width: 800px) {
       margin: 0 16px; 
    }
    @media screen and (max-width: 380px) {
       margin: 0; 
    }
}

